.navbar__container {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  padding: 20px 40px;

  width: 100%;
  color: #dff9fb;
  background: linear-gradient(135deg, #6dd5fa, #2980b9);
  color: #fff; /* White text for contrast */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Light shadow for depth */
  /* max-width: 1190px; */
  margin: 0 auto;
}
.navbar__container.nav__visible {
  background: #01010180 !important;
  position: fixed !important;
}
.navbar__container .overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 200;
}
.navbar__container .log__container {
  display: flex;
  align-items: center;
  gap: 15px;

  cursor: pointer;
}
.navbar__container .close__btn {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 4;
  font-size: 16px;
  border-radius: 50%;

  cursor: pointer;
  display: none;
}
.navbar__container .tab__item.active {
  color: #8750f7;
}
.navbar__container .tab__item.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: linear-gradient(to left, rgba(28, 20, 5, 0.773) 0%, #8750f7 100%);
  border-radius: 10px;
  animation: drawer 0.5s;
}
@keyframes drawer {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@media (max-width: 775px) {
  .navbar__container {
    /* Light shadow for depth */
  }
  .navbar__container .tab__group {
    position: fixed;
    max-width: 300px;
    height: 100%;
    min-height: 100vh;
    top: 0;
    color: #dff9fb;
    background: linear-gradient(135deg, #6dd5fa, #2980b9);
    color: #fff; /* White text for contrast */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    left: -100%;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    transition: 0.5s linear;
    padding-top: 20px;
    padding-left: 20px;
    z-index: 400;
  }
  .navbar__container .tab__item {
    padding: 20px 30px;
  }
  .navbar__container .tab__group.show {
    left: 0;
  }
  .navbar__container .menu {
    display: block;
    font-size: 35px;
  }
  .navbar__container .close__btn {
    display: flex;
  }
}
